._2ofx2 {
    background: #1cb0f6;
    display: none;
    height: 4px;
    left: 0;
    position: fixed;
    top: 0;
    transition: opacity 1s,width .2s;
    z-index: 300;
}
._3BJQ_ {
    background: rgba(0,0,0,.3);
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: calc(var(--web-ui-topbar-top, 0px) + 70px);
    transition: opacity .3s;
}
.jr4Ra {
    bottom: 0;
    left: 0;
    pointer-events: none;
    right: 0;
    top: 0;
}
FdjrY, .jr4Ra {
    position: fixed;
}
